body {

    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

header {
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.container2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;


}

.container .title, .main .title {
    padding-top: 5%;
    font-family: 'Cormorant Garamond', serif;
    font-size: 4em;
        font-weight: bold;

}

.container p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: light;
    font-size: 1.5em;

}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;


}

table .second {
    margin-bottom: 5%;

}

td {
    font-size: 1.5em;
}

th {
    font-weight: bold;
    font-size: 2.5em;


}
